* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #FFF1D8;
}